
{% include directory ~ '/templates/_includes/global/header.html.twig' %}

<main id="main-content">
	{% block hero %}
		{% if hero_image %}
				<div class="hero">
					<div class="hero-media">
						<img src="{{ hero_image }}" alt="{{ hero_alt }}">
					</div>
				</div>
			</div>
		{% endif %}
	{% endblock %}
	{% block main %}
		<div class="container page-content">
			{{ page.help }}
			{{ page.highlighted }}
			<div class="row justify-content-center login">
				<div class="col-800-5 login__cas">
					<h1 class="h3">UMD Login</h1>
					<p>University of Maryland staff and faculty accounts can access site via the Division of IT Central Authentication Service (CAS).</p>
					<a class="button btn btn-primary" href="/caslogin">Log In with CAS</a>
				</div>
			</div>
		</div>
	{% endblock %}
</main>

{% include directory ~ '/templates/_includes/global/footer.html.twig' %}
