{% extends "page.html.twig" %}

{% block hero %}

	<umd-element-hero type="default-interior">

		{% if node.field_umdt_ct_article_categories.value %}
			<div slot="eyebrow">{{ drupal_field('name', 'taxonomy_term', node.field_umdt_ct_article_categories.value.0.target_id) }}</div>
		{% endif %}

		<h1 slot="headline">{{ node.title.value }}</h1>

		{% if node.field_umdt_ct_article_subtitle.value %}
			<div slot="text">
				<p>
					{{ node.field_umdt_ct_article_subtitle.value }}
				</p>
			</div>
		{% endif %}

	</umd-element-hero>

{% endblock %}
