
{% include directory ~ '/templates/_includes/global/header.html.twig' %}

<main id="main-content">
	{% block hero %}
		{% if hero_image %}
			<umd-element-hero type="default-interior">
				<img slot="image" src="{{ hero_image }}" alt="{{ hero_alt }}"/>
				<h1 slot="headline">UMD Login</h1>
			</umd-element-hero>
		{% else %}
			<umd-element-hero-minimal data-theme="light">
				<h1 slot="headline">UMD Login</h1>
			</umd-element-hero-minimal>
		{% endif %}
	{% endblock %}
	{% block main %}
		<div class="container page-content">
			{{ page.help }}
			{{ page.highlighted }}
			<div class="row justify-content-center login">
				<div class="col-800-5 login__cas">
					<h2 class="h3">UMD Login</h2>
					<p>University of Maryland staff and faculty accounts can access site via the Division of IT Central Authentication Service (CAS).</p>
					<a class="button btn btn-primary" href="/caslogin">Log In with CAS</a>
				</div>
			</div>
		</div>
	{% endblock %}
</main>

{% include directory ~ '/templates/_includes/global/footer.html.twig' %}
