.article-hero {
  background-color: var(--color-gray-100);
  padding: 42px 0;

  @media (width >= 800px) {
    padding: 64px 0;
  }

  @media (width >= 1200px) {
    padding: 100px 0 72px;
  }

  &__event {
    h1 {
      margin-bottom: 8px;
    }
  }
}

.article-byline {
  color: var(--color-gray-700);
  font-size: 16px;

  > *:not(:last-child) {
    &:after {
      content: "•";
      color: var(--color-red);
      display: inline-block;
      margin: 0 4px 0 6px;
    }
  }

  & + .section {
    margin-top: 45px;

    &.section-ut_image {
      margin-top: 30px;

      @media (width >= 800px) {
        margin-top: 5px;
      }
    }
  }

  a {
    color: inherit;
    font-weight: 700;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.article-author {
  color: inherit;
  font-weight: 700;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.article-categories {
  border-top: 1px solid #ededed;
  padding-top: 42px;
}
