.profile {
  background-color: var(--color-gray-100);
  border-radius: 8px;
  color: var(--color-gray-700);
  font-size: 17px;
  padding: 72px 30px;
  a {
    color: var(--color-red2);
    text-decoration: underline;
    &:hover {
      color: var(--color-dark-red);
    }
    &:not([class]) {
      color: var(--color-red2);
    }
  }
  li {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.profile-subheading {
  color: var(--color-black);
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin-top: 24px !important;
  margin-bottom: 12px;
  padding-bottom: 4px;
  position: relative;
  text-transform: uppercase;
  &:after {
    content: "";
    background-color: var(--color-gray-300);
    display: block;
    height: 2px;
    width: 75%;
    max-width: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.profile-photo {
  margin: 0 auto 16px;
  max-width: 195px;
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.profile-header {
  border-bottom: 1px solid var(--color-gray-300);
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.profile-name {
  color: var(--color-black);
  font-family: var(--font-family-sans-serif);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

.profile-bio {
  margin-bottom: 32px;
}

.profile-phone {
  a {
    color: var(--color-black);
    text-decoration: none;
  }
}

.profile-publication-year {
  color: var(--color-black);
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin: 0 0 4px;
}

.profile-publications {
  margin-bottom: 20px;
}
